.example-card {
    max-width: 400px;
    margin: 10px;
  }
  
  .example-header-image {
    background-image: url('https://avatars.githubusercontent.com/u/43425812?v=4');
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  